body{
    color:rgb(255, 0, 0);
    background:rgb(0, 0, 0);
    font-family: "Sevillana", cursive;
}
header{
    border-bottom:  solid 2px #ffffff (249, 63, 246);
    padding: 20px;
    font-size: 32px;
color:  red (249,  63, 246);
}

section{
    background: white (103  64  7);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin-right: 5%;
}

h1{
    font-size:40px;
}
p{
    font-size:20px;
}
img{
    height: 200px
}
.categoria-videos {
    display: flex;
    overflow-x: auto; 
    gap:10px;
}
section {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 80px;
  display: flex;
  justify-content: center;
}
section {
    padding-left: 20px;
    padding-right: 20px;
  }